<form action="/named_cat" method="POST">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" name="name">
  </li>
    <li>
    <label for="age">Age:</label>
    <input type="text" name="age">
  </li>
  <li>
    <input type="submit" value="Submit">
  </li>
 </ul>
</form>